H3Plus
*.o
*.mod
basis.txt
1eenergies.txt
2eenergies.txt
diatomicCase/
mcccClasses/
mcccfiles/
isoscelesCase/
crashTesting/
plotbasisfunc
smallZ.txt
conroyfunc.txt
conroytest/
Jfunc.txt
equilateralCase/

